/* font configuration */
$font-stack:    Helvetica, sans-serif;

/* buttons colors configuration */
$color-button: black;
$color-text-button: white;
$color-button-disabled: gray;
$color-text-button-disabled: white;

/* offsets configuration */
$offset-padding: 10px;
$offset-layouts: $offset-padding + 10px;
$offset-layouts-left: 40px + $offset-padding + $offset-layouts; //image with + shop-cart-item offset + offset we want to apply

body {
	font: 100% $font-stack;
}

.shop-cart-item {
	position: relative;
	left: 0px;
	padding: $offset-padding;
	border-bottom: 1px solid #ccc;
}

.list:first-child {
	border-top: 1px solid #ccc;
}

.name {
	text-transform: uppercase;
	font-weight: bold;
	position: absolute;
	top: $offset-layouts;
	left: $offset-layouts-left;
}

.price {
	position: absolute;
	bottom: $offset-layouts;
	left: $offset-layouts-left;
}

.quantity {
	position: absolute;
	font-weight: bold;
	bottom: $offset-layouts;
	right: $offset-layouts;
}

.delete {
	position: absolute;
	top: $offset-layouts;
	right: $offset-layouts;
	cursor: pointer;
}

.out-of-stock {
	background-color: pink;
}

button {
	background-color: $color-button;
	color: $color-text-button;
	border: none;    
    text-align: center;
    text-decoration: none;
	width: 100%;
    padding: 10px 0px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 20px;

    &:disabled {
    	background-color: $color-button-disabled;
		color: $color-text-button-disabled;
		cursor: default;
	}
}

.item-animation {
    -webkit-animation-name: delete-animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 300ms; /* Safari 4.0 - 8.0 */
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-name: delete-animation;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

@mixin animation-content {
	from {
    	left: 0px;
    }
    to {
    	left: 100%;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes delete-animation {
    @include animation-content;
}

/* Standard syntax */
@keyframes delete-animation {
    @include animation-content;
}